<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Cadastro de Contatos</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <button onclick="voltar()" class="voltar">Voltar</button>

    <div class="container">
      <h1>Cadastro de Contatos</h1>

      <input type="text" id="nome" placeholder="Nome" required />
      <input type="text" id="email" placeholder="Email" required />
      <input type="text" id="telefone" placeholder="Telefone" required />
      <input
        type="text"
        id="cep"
        placeholder="CEP"
        required
        onblur="buscarCep()"
      />
      <input type="text" id="rua" placeholder="Rua" required />
      <input type="text" id="bairro" placeholder="Bairro" required />
      <input type="text" id="numero" placeholder="Número" required />
      <input type="text" id="empresa" placeholder="Empresa" required />
      <input type="text" id="cargo" placeholder="Cargo" required />

      <button onclick="addContato()">Cadastrar</button>
    </div>

    <script>
      const apiUrl = "http://192.168.23.129:8080/cadastro/cadastrar";

      function addContato() {
        const campos = [
          { id: "nome", label: "Nome" },
          { id: "email", label: "Email" },
          { id: "telefone", label: "Telefone" },
          { id: "cep", label: "CEP" },
          { id: "rua", label: "Rua" },
          { id: "bairro", label: "Bairro" },
          { id: "numero", label: "Número" },
          { id: "empresa", label: "Empresa" },
          { id: "cargo", label: "Cargo" },
        ];

        for (const campo of campos) {
          const valor = document.getElementById(campo.id).value.trim();
          if (!valor) {
            alert(`Por favor, preencha todos os campos`);
            return;
          }
        }

        const contato = {
          nome: document.getElementById("nome").value,
          email: document.getElementById("email").value,
          telefone: document.getElementById("telefone").value,
          cep: document.getElementById("cep").value,
          empresa: document.getElementById("empresa").value,
          cargo: document.getElementById("cargo").value,
          rua: document.getElementById("rua").value,
          bairro: document.getElementById("bairro").value,
          numero: document.getElementById("numero").value,
        };

        fetch(apiUrl, {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(contato),
        }).then(() => {
          limparFormulario();
          alert("Contato cadastrado com sucesso!");
        });
      }

      function limparFormulario() {
        document
          .querySelectorAll("input")
          .forEach((input) => (input.value = ""));
        window.contatoEditandoId = null;
      }

      function buscarCep() {
        const cep = document.getElementById("cep").value.replace(/\D/g, "");
        if (cep.length !== 8) {
          alert("CEP inválido. Deve conter 8 dígitos.");
          return;
        }

        fetch(`https://viacep.com.br/ws/${cep}/json/`)
          .then((res) => res.json())
          .then((data) => {
            if (data.erro) {
              alert("CEP não encontrado.");
              return;
            }
            document.getElementById("rua").value = data.logradouro;
            document.getElementById("bairro").value = data.bairro;
          })
          .catch(() => alert("Erro ao buscar o CEP."));
      }

      function voltar() {
        window.location.href = "/";
      }
    </script>
  </body>
</html>
